@import "animation";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: table;
    width: 100vw;
    height: 100vh;
    background-color: #171717;
    color: #fbfbfb;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
}

main{
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100vh;
    padding: 16px 0;
    .presentTime{
        color: #038103;
        border: 1px solid #038103;
        padding: 8px 48px;
        border-radius: 100px;
        #selected_time{
            color: #02a502;
        }
    }
    #tea_time{
        color: #976a00;
    }
    #scheduleList{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        //border: 1px solid #038103;
        padding: 24px 48px;
        border-radius: 16px;
        h4{
            color: #038103;
        }
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 16px;
            flex-wrap: wrap;
            margin-top: 16px;
            li{
                border: 1px solid #038103;
                padding: 24px 48px;
                border-radius: 16px;
            }
        }
    }
}